/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

.custom-save-btn {
  border-radius: 1;
  background-color: #8a2be2;
  width: fit-content;
}